@page "/barcelona"

@using TeamShirts.Models
@inject TeamShirts.Services.ICamisetaService CamisetaService

<PageTitle>Barcelona</PageTitle>


<EquipoHeader NombreEquipo="FC Barcelona"
              Descripcion="Camisetas por temporada" />


@if (!string.IsNullOrEmpty(mensaje))
{
    <div class="alert alert-warning">
        @mensaje
    </div>
}


@if (camisetas == null)
{
    <p>
        Cargando camisetas...
    </p>
}
else
{
    <div class="d-flex flex-wrap">


        @foreach (var camiseta in camisetas.Where(x => x.Equipo == "Barcelona"))
        {

            <CamisetaCard Nombre="Camiseta Barcelona"
                          Descripcion="Temporada 2025-2026"
                          Imagen="Imagenes/BAR1.png"
                          Talla="@camiseta.Talla"
                          Precio="@camiseta.Precio"
                          OnComprar="CamisetaSeleccionada" />

        }


    </div>
}


@code {


    private List<Camiseta>? camisetas;


    private string mensaje = "";


    protected override async Task OnInitializedAsync()
    {

        camisetas = await CamisetaService.GetCamisetas();

    }



    private void CamisetaSeleccionada(string camiseta)
    {

        mensaje = $"Producto agregado al carrito: {camiseta}";

    }


}