@page "/clubes"

<PageTitle>Clubes</PageTitle>


<h1>
    Clubes Disponibles
</h1>



<div class="clubes-container">


    <ClubCard Nombre="Real Madrid"
              Imagen="Imagenes/ATLE1.png"
              Ruta="/madrid" />



    <ClubCard Nombre="FC Barcelona"
              Imagen="Imagenes/BAR1.png"
              Ruta="/barcelona" />


</div>