@page "/clubes"

<PageTitle>Clubes</PageTitle>

<h1>Clubes Disponibles</h1>

<div class="clubes-container">

    <a href="/madrid" class="club-card">

        <img src="Imagenes\ATLE1.png"
             alt="Real Madrid" />

        <h3>Real Madrid</h3>

    </a>


    <a href="/barcelona" class="club-card">

        <img src="Imagenes\BAR1.png"
             alt="Barcelona" />

        <h3>FC Barcelona</h3>

    </a>

</div>