@page "/"

<PageTitle>Tienda de Camisetas</PageTitle>


<div class="landing-container">


    <section class="hero">

        <div class="hero-text">

            <h1>
                Camisetas de Fútbol
            </h1>

            <p>
                Encuentra las mejores camisetas de tus equipos favoritos.
                Calidad, diseño y pasión por el fútbol.
            </p>


            <button class="btn">
                Ver camisetas
            </button>


        </div>



        <div class="hero-image">

            <img src="Imagenes\plain-dark-green-wallpaper.jpg"
                 alt="Background" 

        </div>


    </section>


</div>