.landing-container {
    width: 100%;
}



.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
    padding: 40px;
}



.hero-text {
    width: 40%;
}



    .hero-text h1 {
        font-size: 50px;
    }



    .hero-text p {
        font-size: 20px;
    }



.hero-image img {
    width: 450px;
    border-radius: 20px;
}



/* BOTON DEL LANDING */

.landing-btn {
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
}



/* CLUBES */

.clubes-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}



.club-card {
    text-decoration: none;
    color: black;
    text-align: center;
}



    .club-card img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 15px;
    }



    .club-card:hover {
        transform: scale(1.05);
    }
